.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48rem;
    padding: 1rem 1.75rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    border: 2px solid var(--gray-400);
    text-align: left;
    overflow: hidden;
    margin-bottom: 0.75rem;
}

.checkedDescription {
    color: var(--gray-300);
    overflow-wrap: break-word;
    width: 90%;
    padding: 0 0.75rem;
    text-decoration: line-through;
    font-size: 0.875rem;
}

.uncheckedDescription {
    color: var(--gray-100);
    overflow-wrap: break-word;
    width: 90%;
    padding: 0 0.75rem;
    font-size: 0.875rem;
}

.iconCheck{
    font-size: 28px;
    color:var(--purple-dark);
    cursor: pointer;
}

.iconCheck:hover{
    color: var(--purple);
}

.iconUncheck{
    font-size: 28px;
    color: #4EA8DE;
    cursor: pointer;
}

.iconUncheck:hover{
    color: #1E6F9F;
}

.iconRemove{
    font-size: 22px;
    color: #808080;
    cursor: pointer;
}

.iconRemove:hover{
    color: var(--danger);
}

@media (max-width: 768px) {
    .task{
        width: 90vw;
    }

    .checkedDescription {
        font-size: 1rem;
        width: 80%;
    }
    
    .uncheckedDescription {
        font-size: 1rem;
        width: 80%;
    }
    
    .iconCheck{
        font-size: 32px;
    }
    
    .iconUncheck{
        font-size: 32px;
    }

    
    .iconRemove{
        font-size: 25px;
    }
}